In [10]:
# Import MatPlotLib
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# Import Numpy and Pandas
import numpy as np
import pandas as pd
import requests
from config import g_key

# Import DateTime
import datetime as dt

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

# Import Flask
from flask import Flask, jsonify

## SQLAlchemy
Query data from city.sqlite

In [4]:
engine = create_engine("sqlite:///Resources/city.sqlite")
connection = engine.connect()

# Declare bases and map class
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [5]:
# view all of the classes
Base.classes.keys()

# Save references to each table
City = Base.classes.city

In [6]:
session = Session(engine)

    # query results to a dictionary using date as the key and prcp as the value
results = session.query(City.city,
                        City.state,
                        City.country,
                        City.crime_index,
                        City.safety_index,
                        City.quality_of_life_index,
                        City.purchasing_power_index,
                        City.health_care_index,
                        City.cost_of_living_index,
                        City.traffic_commute_time_index,
                        City.price_to_income_ratio,
                        City.affordability_index
                       ).\
    order_by(City.city).all()

session.close()

    # List date and precipitation
data = []
for city, state, country, crime, safety, life, purchasing, health, cost, traffic, price, affordability in results:
    data_dict = {}
    data_dict["city"] = city
    data_dict["state"] = state
    data_dict["country"] = country
    data_dict["crime_index"] = crime
    data_dict["safety_index"] = crime
    data_dict["quality_of_life_index"] = crime
    data_dict["purchasing_power_index"] = crime
    data_dict["health_care_index"] = crime
    data_dict["cost_of_living_index"] = crime
    data_dict["traffic_commute_time_index"] = crime
    data_dict["price_to_income_ratio"] = crime
    data_dict["affordability_index"] = crime
    data.append(data_dict)
    
    # Jsonify the data
#return jsonify(data)

In [7]:
print(data)

[{'city': 'Albuquerque', 'state': 'NM', 'country': 'United States', 'crime_index': 68.63, 'safety_index': 68.63, 'quality_of_life_index': 68.63, 'purchasing_power_index': 68.63, 'health_care_index': 68.63, 'cost_of_living_index': 68.63, 'traffic_commute_time_index': 68.63, 'price_to_income_ratio': 68.63, 'affordability_index': 68.63}, {'city': 'Atlanta', 'state': 'GA', 'country': 'United States', 'crime_index': 63.63, 'safety_index': 63.63, 'quality_of_life_index': 63.63, 'purchasing_power_index': 63.63, 'health_care_index': 63.63, 'cost_of_living_index': 63.63, 'traffic_commute_time_index': 63.63, 'price_to_income_ratio': 63.63, 'affordability_index': 63.63}, {'city': 'Austin', 'state': 'TX', 'country': 'United States', 'crime_index': 34.6, 'safety_index': 34.6, 'quality_of_life_index': 34.6, 'purchasing_power_index': 34.6, 'health_care_index': 34.6, 'cost_of_living_index': 34.6, 'traffic_commute_time_index': 34.6, 'price_to_income_ratio': 34.6, 'affordability_index': 34.6}, {'city': 'Baltimore', 'state': 'MD', 'country': 'United States', 'crime_index': 71.25, 'safety_index': 71.25, 'quality_of_life_index': 71.25, 'purchasing_power_index': 71.25, 'health_care_index': 71.25, 'cost_of_living_index': 71.25, 'traffic_commute_time_index': 71.25, 'price_to_income_ratio': 71.25, 'affordability_index': 71.25}, {'city': 'Boston', 'state': 'MA', 'country': 'United States', 'crime_index': 33.21, 'safety_index': 33.21, 'quality_of_life_index': 33.21, 'purchasing_power_index': 33.21, 'health_care_index': 33.21, 'cost_of_living_index': 33.21, 'traffic_commute_time_index': 33.21, 'price_to_income_ratio': 33.21, 'affordability_index': 33.21}, {'city': 'Charlotte', 'state': 'NC', 'country': 'United States', 'crime_index': 45.17, 'safety_index': 45.17, 'quality_of_life_index': 45.17, 'purchasing_power_index': 45.17, 'health_care_index': 45.17, 'cost_of_living_index': 45.17, 'traffic_commute_time_index': 45.17, 'price_to_income_ratio': 45.17, 'affordability_index': 45.17}, {'city': 'Chicago', 'state': 'IL', 'country': 'United States', 'crime_index': 64.64, 'safety_index': 64.64, 'quality_of_life_index': 64.64, 'purchasing_power_index': 64.64, 'health_care_index': 64.64, 'cost_of_living_index': 64.64, 'traffic_commute_time_index': 64.64, 'price_to_income_ratio': 64.64, 'affordability_index': 64.64}, {'city': 'Cincinnati', 'state': 'OH', 'country': 'United States', 'crime_index': 51.07, 'safety_index': 51.07, 'quality_of_life_index': 51.07, 'purchasing_power_index': 51.07, 'health_care_index': 51.07, 'cost_of_living_index': 51.07, 'traffic_commute_time_index': 51.07, 'price_to_income_ratio': 51.07, 'affordability_index': 51.07}, {'city': 'Columbus', 'state': 'OH', 'country': 'United States', 'crime_index': 42.36, 'safety_index': 42.36, 'quality_of_life_index': 42.36, 'purchasing_power_index': 42.36, 'health_care_index': 42.36, 'cost_of_living_index': 42.36, 'traffic_commute_time_index': 42.36, 'price_to_income_ratio': 42.36, 'affordability_index': 42.36}, {'city': 'Dallas', 'state': 'TX', 'country': 'United States', 'crime_index': 49.52, 'safety_index': 49.52, 'quality_of_life_index': 49.52, 'purchasing_power_index': 49.52, 'health_care_index': 49.52, 'cost_of_living_index': 49.52, 'traffic_commute_time_index': 49.52, 'price_to_income_ratio': 49.52, 'affordability_index': 49.52}, {'city': 'Denver', 'state': 'CO', 'country': 'United States', 'crime_index': 42.15, 'safety_index': 42.15, 'quality_of_life_index': 42.15, 'purchasing_power_index': 42.15, 'health_care_index': 42.15, 'cost_of_living_index': 42.15, 'traffic_commute_time_index': 42.15, 'price_to_income_ratio': 42.15, 'affordability_index': 42.15}, {'city': 'Detroit', 'state': 'MI', 'country': 'United States', 'crime_index': 71.84, 'safety_index': 71.84, 'quality_of_life_index': 71.84, 'purchasing_power_index': 71.84, 'health_care_index': 71.84, 'cost_of_living_index': 71.84, 'traffic_commute_time_index': 71.84, 'price_to_income_ratio': 71.84, 'affordability_index': 71.84}, {'city': 'Honolulu', 'state': 'HI', 'country': 'United States', 'crime_index': 43.78, 'safety_index': 43.78, 'quality_of_life_index': 43.78, 'purchasing_power_index': 43.78, 'health_care_index': 43.78, 'cost_of_living_index': 43.78, 'traffic_commute_time_index': 43.78, 'price_to_income_ratio': 43.78, 'affordability_index': 43.78}, {'city': 'Houston', 'state': 'TX', 'country': 'United States', 'crime_index': 60.91, 'safety_index': 60.91, 'quality_of_life_index': 60.91, 'purchasing_power_index': 60.91, 'health_care_index': 60.91, 'cost_of_living_index': 60.91, 'traffic_commute_time_index': 60.91, 'price_to_income_ratio': 60.91, 'affordability_index': 60.91}, {'city': 'Indianapolis', 'state': 'IN', 'country': 'United States', 'crime_index': 55.17, 'safety_index': 55.17, 'quality_of_life_index': 55.17, 'purchasing_power_index': 55.17, 'health_care_index': 55.17, 'cost_of_living_index': 55.17, 'traffic_commute_time_index': 55.17, 'price_to_income_ratio': 55.17, 'affordability_index': 55.17}, {'city': 'Jacksonville', 'state': 'FL', 'country': 'United States', 'crime_index': 58.29, 'safety_index': 58.29, 'quality_of_life_index': 58.29, 'purchasing_power_index': 58.29, 'health_care_index': 58.29, 'cost_of_living_index': 58.29, 'traffic_commute_time_index': 58.29, 'price_to_income_ratio': 58.29, 'affordability_index': 58.29}, {'city': 'Kansas City', 'state': 'MO', 'country': 'United States', 'crime_index': 60.23, 'safety_index': 60.23, 'quality_of_life_index': 60.23, 'purchasing_power_index': 60.23, 'health_care_index': 60.23, 'cost_of_living_index': 60.23, 'traffic_commute_time_index': 60.23, 'price_to_income_ratio': 60.23, 'affordability_index': 60.23}, {'city': 'Las Vegas', 'state': 'NV', 'country': 'United States', 'crime_index': 55.7, 'safety_index': 55.7, 'quality_of_life_index': 55.7, 'purchasing_power_index': 55.7, 'health_care_index': 55.7, 'cost_of_living_index': 55.7, 'traffic_commute_time_index': 55.7, 'price_to_income_ratio': 55.7, 'affordability_index': 55.7}, {'city': 'Los Angeles', 'state': 'CA', 'country': 'United States', 'crime_index': 47.13, 'safety_index': 47.13, 'quality_of_life_index': 47.13, 'purchasing_power_index': 47.13, 'health_care_index': 47.13, 'cost_of_living_index': 47.13, 'traffic_commute_time_index': 47.13, 'price_to_income_ratio': 47.13, 'affordability_index': 47.13}, {'city': 'Madison', 'state': 'WI', 'country': 'United States', 'crime_index': 27.59, 'safety_index': 27.59, 'quality_of_life_index': 27.59, 'purchasing_power_index': 27.59, 'health_care_index': 27.59, 'cost_of_living_index': 27.59, 'traffic_commute_time_index': 27.59, 'price_to_income_ratio': 27.59, 'affordability_index': 27.59}, {'city': 'Miami', 'state': 'FL', 'country': 'United States', 'crime_index': 52.91, 'safety_index': 52.91, 'quality_of_life_index': 52.91, 'purchasing_power_index': 52.91, 'health_care_index': 52.91, 'cost_of_living_index': 52.91, 'traffic_commute_time_index': 52.91, 'price_to_income_ratio': 52.91, 'affordability_index': 52.91}, {'city': 'Milwaukee', 'state': 'WI', 'country': 'United States', 'crime_index': 65.29, 'safety_index': 65.29, 'quality_of_life_index': 65.29, 'purchasing_power_index': 65.29, 'health_care_index': 65.29, 'cost_of_living_index': 65.29, 'traffic_commute_time_index': 65.29, 'price_to_income_ratio': 65.29, 'affordability_index': 65.29}, {'city': 'Minneapolis', 'state': 'MN', 'country': 'United States', 'crime_index': 48.72, 'safety_index': 48.72, 'quality_of_life_index': 48.72, 'purchasing_power_index': 48.72, 'health_care_index': 48.72, 'cost_of_living_index': 48.72, 'traffic_commute_time_index': 48.72, 'price_to_income_ratio': 48.72, 'affordability_index': 48.72}, {'city': 'New York', 'state': 'NY', 'country': 'United States', 'crime_index': 44.22, 'safety_index': 44.22, 'quality_of_life_index': 44.22, 'purchasing_power_index': 44.22, 'health_care_index': 44.22, 'cost_of_living_index': 44.22, 'traffic_commute_time_index': 44.22, 'price_to_income_ratio': 44.22, 'affordability_index': 44.22}, {'city': 'Oakland', 'state': 'CA', 'country': 'United States', 'crime_index': 64.11, 'safety_index': 64.11, 'quality_of_life_index': 64.11, 'purchasing_power_index': 64.11, 'health_care_index': 64.11, 'cost_of_living_index': 64.11, 'traffic_commute_time_index': 64.11, 'price_to_income_ratio': 64.11, 'affordability_index': 64.11}, {'city': 'Orlando', 'state': 'FL', 'country': 'United States', 'crime_index': 55.51, 'safety_index': 55.51, 'quality_of_life_index': 55.51, 'purchasing_power_index': 55.51, 'health_care_index': 55.51, 'cost_of_living_index': 55.51, 'traffic_commute_time_index': 55.51, 'price_to_income_ratio': 55.51, 'affordability_index': 55.51}, {'city': 'Philadelphia', 'state': 'PA', 'country': 'United States', 'crime_index': 58.09, 'safety_index': 58.09, 'quality_of_life_index': 58.09, 'purchasing_power_index': 58.09, 'health_care_index': 58.09, 'cost_of_living_index': 58.09, 'traffic_commute_time_index': 58.09, 'price_to_income_ratio': 58.09, 'affordability_index': 58.09}, {'city': 'Phoenix', 'state': 'AZ', 'country': 'United States', 'crime_index': 53.49, 'safety_index': 53.49, 'quality_of_life_index': 53.49, 'purchasing_power_index': 53.49, 'health_care_index': 53.49, 'cost_of_living_index': 53.49, 'traffic_commute_time_index': 53.49, 'price_to_income_ratio': 53.49, 'affordability_index': 53.49}, {'city': 'Pittsburgh', 'state': 'PA', 'country': 'United States', 'crime_index': 36.01, 'safety_index': 36.01, 'quality_of_life_index': 36.01, 'purchasing_power_index': 36.01, 'health_care_index': 36.01, 'cost_of_living_index': 36.01, 'traffic_commute_time_index': 36.01, 'price_to_income_ratio': 36.01, 'affordability_index': 36.01}, {'city': 'Portland', 'state': 'OR', 'country': 'United States', 'crime_index': 45.23, 'safety_index': 45.23, 'quality_of_life_index': 45.23, 'purchasing_power_index': 45.23, 'health_care_index': 45.23, 'cost_of_living_index': 45.23, 'traffic_commute_time_index': 45.23, 'price_to_income_ratio': 45.23, 'affordability_index': 45.23}, {'city': 'Sacramento', 'state': 'CA', 'country': 'United States', 'crime_index': 48.59, 'safety_index': 48.59, 'quality_of_life_index': 48.59, 'purchasing_power_index': 48.59, 'health_care_index': 48.59, 'cost_of_living_index': 48.59, 'traffic_commute_time_index': 48.59, 'price_to_income_ratio': 48.59, 'affordability_index': 48.59}, {'city': 'Saint Louis', 'state': 'MO', 'country': 'United States', 'crime_index': 67.16, 'safety_index': 67.16, 'quality_of_life_index': 67.16, 'purchasing_power_index': 67.16, 'health_care_index': 67.16, 'cost_of_living_index': 67.16, 'traffic_commute_time_index': 67.16, 'price_to_income_ratio': 67.16, 'affordability_index': 67.16}, {'city': 'Salt Lake City', 'state': 'UT', 'country': 'United States', 'crime_index': 25.2, 'safety_index': 25.2, 'quality_of_life_index': 25.2, 'purchasing_power_index': 25.2, 'health_care_index': 25.2, 'cost_of_living_index': 25.2, 'traffic_commute_time_index': 25.2, 'price_to_income_ratio': 25.2, 'affordability_index': 25.2}, {'city': 'San Antonio', 'state': 'TX', 'country': 'United States', 'crime_index': 46.11, 'safety_index': 46.11, 'quality_of_life_index': 46.11, 'purchasing_power_index': 46.11, 'health_care_index': 46.11, 'cost_of_living_index': 46.11, 'traffic_commute_time_index': 46.11, 'price_to_income_ratio': 46.11, 'affordability_index': 46.11}, {'city': 'San Diego', 'state': 'CA', 'country': 'United States', 'crime_index': 36.18, 'safety_index': 36.18, 'quality_of_life_index': 36.18, 'purchasing_power_index': 36.18, 'health_care_index': 36.18, 'cost_of_living_index': 36.18, 'traffic_commute_time_index': 36.18, 'price_to_income_ratio': 36.18, 'affordability_index': 36.18}, {'city': 'San Francisco', 'state': 'CA', 'country': 'United States', 'crime_index': 48.97, 'safety_index': 48.97, 'quality_of_life_index': 48.97, 'purchasing_power_index': 48.97, 'health_care_index': 48.97, 'cost_of_living_index': 48.97, 'traffic_commute_time_index': 48.97, 'price_to_income_ratio': 48.97, 'affordability_index': 48.97}, {'city': 'San Jose', 'state': 'CA', 'country': 'United States', 'crime_index': 41.96, 'safety_index': 41.96, 'quality_of_life_index': 41.96, 'purchasing_power_index': 41.96, 'health_care_index': 41.96, 'cost_of_living_index': 41.96, 'traffic_commute_time_index': 41.96, 'price_to_income_ratio': 41.96, 'affordability_index': 41.96}, {'city': 'Seattle', 'state': 'WA', 'country': 'United States', 'crime_index': 44.68, 'safety_index': 44.68, 'quality_of_life_index': 44.68, 'purchasing_power_index': 44.68, 'health_care_index': 44.68, 'cost_of_living_index': 44.68, 'traffic_commute_time_index': 44.68, 'price_to_income_ratio': 44.68, 'affordability_index': 44.68}, {'city': 'Tampa', 'state': 'FL', 'country': 'United States', 'crime_index': 47.8, 'safety_index': 47.8, 'quality_of_life_index': 47.8, 'purchasing_power_index': 47.8, 'health_care_index': 47.8, 'cost_of_living_index': 47.8, 'traffic_commute_time_index': 47.8, 'price_to_income_ratio': 47.8, 'affordability_index': 47.8}, {'city': 'Tucson', 'state': 'AZ', 'country': 'United States', 'crime_index': 51.53, 'safety_index': 51.53, 'quality_of_life_index': 51.53, 'purchasing_power_index': 51.53, 'health_care_index': 51.53, 'cost_of_living_index': 51.53, 'traffic_commute_time_index': 51.53, 'price_to_income_ratio': 51.53, 'affordability_index': 51.53}, {'city': 'Washington', 'state': 'DC', 'country': 'United States', 'crime_index': 57.28, 'safety_index': 57.28, 'quality_of_life_index': 57.28, 'purchasing_power_index': 57.28, 'health_care_index': 57.28, 'cost_of_living_index': 57.28, 'traffic_commute_time_index': 57.28, 'price_to_income_ratio': 57.28, 'affordability_index': 57.28}]

## Query data from Google API
Get coordinate information for each city

In [77]:
# Get base url for Google API
url = "https://maps.googleapis.com/maps/api/geocode/json"

In [78]:
# Open city.csv and read dataframe
csv_path = "./Resources/city.csv"
pd.read_csv(csv_path)
city_df = pd.read_csv(csv_path).sort_values("city")
city_df.head(10)

,city,state,country,crime_index,safety_index,quality_of_life_index,purchasing_power_index,health_care_index,cost_of_living_index,traffic_commute_time_index,pollution_index,price_to_income_ratio,affordability_index
20,Albuquerque,NM,United States,68.63,31.37,178.03,122.06,72.22,64.20,26.44,22.54,3.05,4.33
26,Atlanta,GA,United States,63.63,36.37,169.90,145.47,64.21,72.26,44.22,44.70,2.93,4.60
4,Austin,TX,United States,34.60,65.40,192.57,143.76,70.58,69.94,35.07,36.97,4.03,3.36
28,Baltimore,MD,United States,71.25,28.75,167.98,125.36,80.29,75.24,32.74,43.88,2.59,5.26
16,Boston,MA,United States,33.21,66.79,181.01,121.89,75.60,82.68,43.36,25.29,8.48,1.59
2,Charlotte,NC,United States,45.17,54.83,195.85,145.53,75.00,75.63,38.02,28.22,2.40,5.58
32,Chicago,IL,United States,64.64,35.36,161.24,133.36,68.37,77.75,40.99,41.03,3.54,3.79
19,Cincinnati,OH,United States,51.07,48.93,178.51,126.99,68.50,63.48,26.61,39.77,2.40,5.70
1,Columbus,OH,United States,42.36,57.64,195.88,127.33,75.28,65.79,25.21,24.37,2.31,5.97
6,Dallas,TX,United States,49.52,50.48,188.66,158.15,66.33,66.95,36.14,39.80,2.36,5.72

In [79]:
# Set only cities column
cities = city_df[["city"]]
cities.head()

           city
20  Albuquerque
26      Atlanta
4        Austin
28    Baltimore
16       Boston

In [80]:
# Add latitude and longitude columns for the cities dataframe
cities['lat'] = ""
cities['long'] = ""
cities.head()

<ipython-input-80-1b3ce634d89c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities['lat'] = ""
<ipython-input-80-1b3ce634d89c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities['long'] = ""

           city lat long
20  Albuquerque
26      Atlanta
4        Austin
28    Baltimore
16       Boston

In [81]:
# Assign parameter for Google API
params = {
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in cities.iterrows():

    # get city type from df
    city_type = row['city']

    # add address to params dict
    params['address'] = city_type

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_type}.")
    response = requests.get(url, params=params).json()
    
    # extract results
    results = response['results']
    results
    
    try:
        cities.loc[index, 'lat'] = results[0]['geometry']['location']['lat']
        cities.loc[index, 'long'] = results[0]['geometry']['location']['lng']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 20: Albuquerque.
------------
Retrieving Results for Index 26: Atlanta.

C:\ProgramData\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-81-d33b7f56e98c>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.loc[index, 'lat'] = results[0]['geometry']['location']['lat']
<ipython-input-81-d33b7f56e98c>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.loc[index, 'long'] = results[0]['geometry']['location']['lng']

------------
Retrieving Results for Index 4: Austin.
------------
Retrieving Results for Index 28: Baltimore.
------------
Retrieving Results for Index 16: Boston.
------------
Retrieving Results for Index 2: Charlotte.
------------
Retrieving Results for Index 32: Chicago.
------------
Retrieving Results for Index 19: Cincinnati.
------------
Retrieving Results for Index 1: Columbus.
------------
Retrieving Results for Index 6: Dallas.
------------
Retrieving Results for Index 27: Denver.
------------
Retrieving Results for Index 40: Detroit.
------------
Retrieving Results for Index 31: Honolulu.
------------
Retrieving Results for Index 25: Houston.
------------
Retrieving Results for Index 29: Indianapolis.
------------
Retrieving Results for Index 11: Jacksonville.
------------
Retrieving Results for Index 10: Kansas City.
------------
Retrieving Results for Index 35: Las Vegas.
------------
Retrieving Results for Index 38: Los Angeles.
------------
Retrieving Results for Index 0: Madison.
------------
Retrieving Results for Index 37: Miami.
------------
Retrieving Results for Index 34: Milwaukee.
------------
Retrieving Results for Index 15: Minneapolis.
------------
Retrieving Results for Index 39: New York.
------------
Retrieving Results for Index 14: Oakland.
------------
Retrieving Results for Index 23: Orlando.
------------
Retrieving Results for Index 36: Philadelphia.
------------
Retrieving Results for Index 33: Phoenix.
------------
Retrieving Results for Index 24: Pittsburgh.
------------
Retrieving Results for Index 8: Portland.
------------
Retrieving Results for Index 12: Sacramento.
------------
Retrieving Results for Index 17: Saint Louis.
------------
Retrieving Results for Index 18: Salt Lake City.
------------
Retrieving Results for Index 9: San Antonio.
------------
Retrieving Results for Index 3: San Diego.
------------
Retrieving Results for Index 21: San Francisco.
------------
Retrieving Results for Index 5: San Jose.
------------
Retrieving Results for Index 7: Seattle.
------------
Retrieving Results for Index 13: Tampa.
------------
Retrieving Results for Index 22: Tucson.
------------
Retrieving Results for Index 30: Washington.
------------

In [82]:
# Check results
cities

              city      lat     long
20     Albuquerque  35.0844  -106.65
26         Atlanta   33.749  -84.388
4           Austin  30.2672 -97.7431
28       Baltimore  39.2904 -76.6122
16          Boston  42.3601 -71.0589
2        Charlotte  35.2271 -80.8431
32         Chicago  41.8781 -87.6298
19      Cincinnati  39.1031  -84.512
1         Columbus  39.9612 -82.9988
6           Dallas  32.7767  -96.797
27          Denver  39.7392  -104.99
40         Detroit  42.3314 -83.0458
31        Honolulu  21.3069 -157.858
25         Houston  29.7604 -95.3698
29    Indianapolis  39.7684 -86.1581
11    Jacksonville  30.3322 -81.6557
10     Kansas City  39.0997 -94.5786
35       Las Vegas  36.1699  -115.14
38     Los Angeles  34.0522 -118.244
0          Madison  43.0731 -89.4012
37           Miami  25.7617 -80.1918
34       Milwaukee  43.0389 -87.9065
15     Minneapolis  44.9778  -93.265
39        New York  40.7128  -74.006
14         Oakland  37.8044 -122.271
23         Orlando  28.5383 -81.3792
36    Philadelphia  39.9526 -75.1652
33         Phoenix  33.4484 -112.074
24      Pittsburgh  40.4406 -79.9959
8         Portland  45.5051 -122.675
12      Sacramento  38.5816 -121.494
17     Saint Louis   38.627 -90.1994
18  Salt Lake City  40.7608 -111.891
9      San Antonio  29.4241 -98.4936
3        San Diego  32.7157 -117.161
21   San Francisco  37.7749 -122.419
5         San Jose  37.3382 -121.886
7          Seattle  47.6062 -122.332
13           Tampa  27.9506 -82.4572
22          Tucson  32.2226 -110.975
30      Washington  47.7511  -120.74

In [84]:
# Export to csv file
export_csv = cities.to_csv (r'Resources/location.csv', index = None, header=True)